body {
    background-size: cover;
    background-color: rgb(34, 34, 34);
}

.navbar {
    background-color: rgb(51, 51, 51);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.0em;  
    letter-spacing: 1px;
}

.navbar-brand {
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
}

#navbar-brand-dfinity {
    margin-left: 6px;
    letter-spacing: 12px;
    border-right: 1px solid rgb(204, 204, 204);
}

#navbar-brand-explorer {
    margin-left: 5px;
    letter-spacing: 7.5px;
    color: rgb(250, 177, 59);
}

.navbar-nav > li {
    padding-left: 25px;
}

.form-control {
  background-color: rgb(51, 51, 51);
}

#dfinity-symbol {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -31px;
}

#recent-container {
  margin-top: -37px;
}

.recent {
  color: rgb(220, 220, 220);
  text-align: left;
  letter-spacing: 1px;
  font-family: 'Nunito Sans', sans-serif;
}

table {
  color: rgb(220, 220, 220);    
  table-layout: fixed;
  letter-spacing: 1px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
}

tfoot {
  font-size: 9px;
  opacity: 0.3;
}

#recent-blocks {
  width: 100%;
}

#recent-blocks thead th:nth-child(1) {
  width: 30%;
}

#recent-blocks thead th:nth-child(2)  {
  width: 40%;
}

#recent-blocks thead th:nth-child(3)  {
  width: 30%;
}

#recent-txns {
  width: 100%;
}

#recent-txns thead th:nth-child(1) {
  width: 60%;
}

#recent-txns thead th:nth-child(2)  {
  width: 40%;
}

tbody {
  border-top: 2px solid rgb(85, 85, 85);
}

tbody tr:nth-child(even) {
  background-color: rgb(51, 51, 51);
}

tbody tr:nth-child(odd) {
  background-color: rgb(34, 34, 34);
}

th, td {
  padding: 8px;
  text-align: left;
}

td {
  border-top: 1px solid rgb(85, 85, 85);    
}

.text-right {
  text-align: right;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
    width: 100%;
    height: 72px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(51, 51, 51);
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Nunito Sans', sans-serif;
}

#footer-copyright {
    padding-top: 30px;
    font-size: 12px;
}

#footer-subscribe {
    padding-top: 5px;
}

#footer-subscribe-button {
    margin-top: -3px;
    border-radius: 300px;
    background-color: rgb(41, 171, 226, 0.75);
    border-color: rgb(85, 85, 85);
    color: rgb(220, 220, 220);
}

#footer-subscribe-button:hover {
    cursor: pointer;
    background-color: rgb(41, 171, 226, 0.9);
}

.footer .fa {
    margin-top: 26px;
    margin-left: 30px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
  
.footer .fa:hover {
    color: rgb(220, 220, 220);
}
